asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
Django==5.0.6
django-cors-headers==4.9.0
django-filter==25.1
djangorestframework==3.17.1
djangorestframework-xml==2.0.0
gunicorn==21.2.0
huggingface_hub==1.16.1
packaging==26.2
pillow==12.2.0
python-decouple==3.8
python-dotenv==1.0.0
PyYAML==6.0.3
requests==2.31.0
urllib3==2.7.0
